<%- include('templates/header') %>

<h1>Welcome, <%= username %>!</h1>
<a href="/members"><button type="button" class="btn btn-primary my-2" data-mdb-ripple-init>Members Area</button></a>
<a href="/logout"><button type="button" class="btn btn-danger my-2" data-mdb-ripple-init>Logout</button></a>

<%- include('templates/footer') %>